@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@import 'price';


//base

body {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  margin: 0;
}

.main-container {
  
}
